h1 {
  font-family: monospace;
}

.mobile-display {
  display: none;
}

@media only screen and (max-width: 576px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: inline-block;
  }
}
